*.iml
.gradle
/local.properties
/.idea/misc.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/kotlinc.xml
/projectFilesBackup/
.DS_Store
/build
/captures


# ignore keystore and keystore.properties
*.jks
keystore.*
app/keystore.*

#crashlytics secret
app/crashlytics.properties