version: 2

references:
  defaults: &defaults
    working_directory: ~/code
    docker:
      - image: circleci/android:api-26-alpha
    environment:
      JVM_OPTS: -Xmx3200m

jobs:
  initialize:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
  build:
    <<: *defaults
    steps:
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Build APK
          command: ./gradlew assemblePureflossDebug -PdisablePreDex
      - store_artifacts:
          path: app/build/outputs/
  test:
    <<: *defaults
    steps:
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Run unit tests
          command: ./gradlew testPureflossDebug -PdisablePreDex --no-daemon
      - store_artifacts:
          path: app/build/reports/tests
          destination: reports/junit/
      - store_test_results:
          path: app/build/test-results/testPureflossDebugUnitTest/
          destination: reports/junit/
workflows:
  version: 2
  build_and_test:
    jobs:
      - initialize
      - build:
          requires:
            - initialize
      - test:
          requires:
            - initialize



