<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.premnirmal.tickerwidget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.github.premnirmal.ticker.StocksApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.github.premnirmal.ticker.ui.ParanormalActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.github.premnirmal.ticker.ui.TickerSelectorActivity"
            android:label="@string/add_ticker" />

        <activity
            android:name="com.github.premnirmal.ticker.settings.SettingsActivity"
            android:label="@string/action_Settings" />

        <activity
            android:name="com.github.premnirmal.ticker.ui.GraphActivity"
            android:screenOrientation="landscape"
            android:label="@string/action_Settings" />

        <receiver
            android:name="com.github.premnirmal.ticker.UpdateReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.github.premnirmal.ticker.UPDATE" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.github.premnirmal.ticker.widget.StockWidget"
            android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>

        <service
            android:name="com.github.premnirmal.ticker.widget.RemoteStockProviderService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>
