<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.premnirmal.tickerwidget">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
      android:name="com.github.premnirmal.ticker.StocksApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      tools:replace="android:icon">

    <activity
        android:name="com.github.premnirmal.ticker.ParanormalActivity"
        android:label="@string/app_name"
        android:theme="@style/ParanormalActivityTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name="com.github.premnirmal.ticker.portfolio.drag_drop.RearrangeActivity"
        android:label="@string/portfolio"/>
    <activity
        android:name="com.github.premnirmal.ticker.portfolio.TickerSelectorActivity"
        android:label="@string/add_ticker"/>
    <activity
        android:name="com.github.premnirmal.ticker.portfolio.AddPositionActivity"
        android:label="@string/add_position"/>
    <activity
        android:name="com.github.premnirmal.ticker.portfolio.EditPositionActivity"
        android:label="@string/edit_position"/>
    <activity
        android:name="com.github.premnirmal.ticker.portfolio.GraphActivity"
        android:label="@string/portfolio"
        android:screenOrientation="landscape"
        android:theme="@style/GraphActivityTheme"/>
    <activity
        android:name="com.github.premnirmal.ticker.settings.SettingsActivity"
        android:label="@string/action_Settings">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
      </intent-filter>
    </activity>

    <receiver
        android:name="com.github.premnirmal.ticker.UpdateReceiver"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_REPLACED"/>
        <data
            android:path="@string/package_replaced_string"
            android:scheme="package"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
        <data
            android:path="@string/package_replaced_string"
            android:scheme="package"/>
      </intent-filter>
    </receiver>

    <receiver
        android:name="com.github.premnirmal.ticker.UnlockReceiver"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.USER_PRESENT"/>
      </intent-filter>
    </receiver>

    <receiver
        android:name="com.github.premnirmal.ticker.RefreshReceiver"
        android:enabled="true"
        android:exported="false"/>

    <receiver
        android:name="com.github.premnirmal.ticker.WidgetClickReceiver"
        android:enabled="true"
        android:exported="false">
      <intent-filter>
        <action android:name="com.github.premnirmal.ticker.widgetclick"/>
      </intent-filter>
    </receiver>

    <receiver
        android:name="com.github.premnirmal.ticker.widget.StockWidget"
        android:label="@string/widget_label">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>

      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/widget"/>
    </receiver>

    <service
        android:name="com.github.premnirmal.ticker.widget.RemoteStockProviderService"
        android:permission="android.permission.BIND_REMOTEVIEWS"/>

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>

    <meta-data
        android:name="com.crashlytics.ApiKey"
        android:value="856c59cfad291a9403df034e02e90219acfdedb1"/>

  </application>

</manifest>
