<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.premnirmal.tickerwidget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.github.premnirmal.ticker.StocksApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.github.premnirmal.ticker.ParanormalActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.premnirmal.ticker.portfolio.RearrangeActivity"
            android:label="@string/portfolio"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.github.premnirmal.ticker.portfolio.TickerSelectorActivity"
            android:label="@string/add_ticker"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.github.premnirmal.ticker.portfolio.AddPositionActivity"
            android:label="@string/add_position"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.github.premnirmal.ticker.portfolio.EditPositionActivity"
            android:label="@string/edit_position"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.github.premnirmal.ticker.portfolio.GraphActivity"
            android:label="@string/portfolio"
            android:theme="@style/GraphActivityTheme"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.github.premnirmal.ticker.settings.SettingsActivity"
            android:label="@string/action_Settings" />

        <receiver
            android:name="com.github.premnirmal.ticker.UpdateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data
                    android:scheme="package"
                    android:path="@string/package_replaced_string" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <data
                    android:scheme="package"
                    android:path="@string/package_replaced_string" />
            </intent-filter>
        </receiver>

        <!--tapjoy-->
        <!-- Tapjoy -->
        <activity
            android:name="com.tapjoy.TJCOffersWebView"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tapjoy.TapjoyVideoView"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tapjoy.TJAdUnitView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.tapjoy.mraid.view.ActionHandler"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tapjoy.mraid.view.Browser"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <receiver
            android:name="com.tapjoy.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.github.premnirmal.ticker.RefreshReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.github.premnirmal.ticker.widget.StockWidget"
            android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>

        <service
            android:name="com.github.premnirmal.ticker.widget.RemoteStockProviderService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="856c59cfad291a9403df034e02e90219acfdedb1" />
    </application>

</manifest>
