name: Build

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'
    tags:
      - '*'

jobs:
  build-and-release:
    name: Build and release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Get latest version
        run: |
          echo $(git describe --tags --abbrev=0)
          echo "VERSION=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV
      - name: Build bundle
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: ':app:bundlePurefossDebug'
      - name: Build apk
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: ':app:assemblePurefossDebug'
      - name: Upload apk and bundle
        uses: actions/upload-artifact@v1
        with:
          name: app
          path: app/build/outputs/
      - name: Create release
        if: startsWith(github.ref, 'refs/tags/')
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          automatic_release_tag: null
          title: "${{ env.VERSION }}"
          files: |
            app/build/outputs/apk/purefoss/debug/app-purefoss-debug.apk
            app/build/outputs/bundle/purefossDebug/app-purefoss-debug.aab
